* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  max-width: 1440px;
  display: flex;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between; /* Додаємо простір між елементами в рядку */
  gap: 24px;
}

li {
  flex: 0 0 calc(33.33% - 16px); /* Розмір елементів у рядку */
  margin-bottom: 24px; /* Простір між рядками */
}

img {
  display: block;
  height: auto;
  width: 100%;
  object-fit: cover;
}
